/* head */
.topnav {
    overflow: hidden;
    background-color: #7E4D9F;
  }
  .topnav img{
    position: relative;
    float: left;
    padding: 10px;
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ffffff;
    color: black;
  }
  
  .topnav a.split {
    float: right;
    background-color: #1785cf;
    color: white;
  }

/* table */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 20px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }